.title {
  max-width: 80vw;
}

.width-container {
  min-width: 70vw;
  margin: 10px 0px 10px 0px;
}

.full-width-container {
  min-width: 100vw;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mood-label {
  margin-right: 10px;
}
